extends /layout/basic

block head
	link(rel='stylesheet', href='/input.css')

block foot
	script(src='/socket.io/socket.io.js')
	script(src='/input.js')

block body
	div(ng-controller="SimulatorCtrl" class="container")
		div(class='slider col-xs-12 responsive')
			slick(infinite="true", 
				slides-to-show="2",
				slides-to-scroll="2",
				arrows="false",
				center-mode="true",
				current-index="listId",
				focus-on-select="true",
				center-padding="60px")

				each game in config.games
					div
						img(src='/games/#{game.name}/icon.png')

		h2 {{game.title}}
		h3 {{game.subtitle}}
		
		div 
			p(ng-class="{deactivated: !autoplay}", ng-click="autoplay = !autoplay") Autoplay 
				span(ng-show="autoplay") ON 
				span(ng-hide="autoplay") OFF 